<%= form_for @post, html: {multipart: true} do |f| %>
  <p>
    <%= f.label :title, 'Title' %>
    <%= f.text_field :title %>
    <%= f.label :image, 'Image' %>
    <%= f.file_field :image %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
