<h1><%= post.title %></h1>
<%= image_tag post.image.url(:medium), class: 'instagram-upload' %>
<%= post.tags.each do |tag| %>
  <%= tag %>
<% end %>
<%= link_to 'Edit', edit_post_path(post) %>
<%= link_to 'Delete', post_path(post), method: :delete %>
